:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --terciary-color: #f0f0f0;
  --font-family: Arial, sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  font-family: var(--fuente-principal);
  box-sizing: inherit;
  margin: 0;
  background-color: var(--terciary-color);
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
.container-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  margin: 1vh 1vw;
  padding: 0 5vw;
}
#signup {
  border-radius: 5px;
}
nav a,
nav button {
  margin: 0 0.5vw;
}
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #b6b3b3;
  padding: 10vh 5vw;
}
.cta h2,
.cta p {
  background-color: #b6b3b3;
  padding: 1.5vh 1vw;
}
.cta button {
  padding: 1vh 2vw;
  margin-top: 2vh;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);
  padding: 5vh 5vw;
  margin: 10vh 20vw;
  border-radius: 5px;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
}
fieldset {
  background-color: var(--secondary-color);
  border: none;
}
fieldset input,
fieldset p,
fieldset label,
fieldset h2 {
  background-color: var(--secondary-color);
  margin: 1vh 0;
  padding: 1vh;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}
.formulario button {
  padding: 1vh 2vw;
  margin-top: 2vh;
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.formulario h2,
.formulario p {
  text-align: center;
}
footer,
footer div,
footer p,
footer a,
footer h2,
footer h3 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5vh 0.5vw;
}
